


.topo_principal{
    display: flex;
    margin-left:220px ;

}
h1{
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 700px;
    font-size: 55px;
    color: #ff4081;
    width: 512px;
    margin-top: 93px;
}
#topo p{
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 300px;
    font-size: 20px;
    color: #000000;
    width: 461px;
    margin: 0px;
    margin-top: 22px;

}
#background{
    background: url('../assets/styles/imagens/xadrez_cavalo.png') 50% no-repeat;
    width: 380px;
    height: 381px;
    margin:0;
    margin-top: 80px;
    margin-bottom: 81px;
    margin-left: 100px;
}



.conteudo{
    display: block;
    justify-content: space-around;
    margin-left: 171px;
    margin-right: 60px;
    margin-bottom: 0px;
    background-color:#f6f6f6;   
}

.conteudo2{
    display: flex;
}

.play{
    width: 462px;
    height: 261px;
    border: 3px solid #c4c4c4;
    align-items: center;
    margin-top: 75px ;
    align-content: center;
}

img{
    width: 90px;
    height: 90px;
    align-content: center;
    margin: 86px 186px 85px;
}

#texto_aula{
    margin-left: 76px;
    margin-top: 0px;
}
h3{font-family: 'Ubuntu', Arial, sans-serif;
    color: #ff4081;
    font-weight: 700,bold;
    font-size: 35px;
    margin:0;
    margin-top: 75px;
    margin-bottom: 26px;
    width: 512px;
}
p{
    font-family: 'Ubuntu', Arial, sans-serif;
    width: 501px;
    font-size: 20px;
    font-weight: 300px;
    margin: 0;
    margin-bottom: 79px;
}

hr{
    background-color: #c4c4c4;
    height: 3px;
    width:1115px;
    border: none;

}

@media only screen and (max-width:768px) {

    .topo_principal{
        display: block;
        margin-left: 140px ;
        margin-bottom: 50px;
        text-align: center;
    }
    #topo p{
        margin-bottom: 50px;
        margin-left: 35px;
    }
    #background{
        margin-left: 50px;
    }
    
    .conteudo{
        display: block;
        margin-left: 140px;
        width: 468px;
        margin-bottom: -40px;
    }
    .conteudo2{
        display:block;
    }
    #texto_aula{
        margin-left: 0px ;
    }
    p{
        width: 440px;
    }
    hr{
        width: 440px;
    }
}

@media only screen and (max-width:481px) {

    .topo_principal{
        display: block;
        margin-left: -20px ;
    }
    #background{
        margin-left: 80px;
    }
    .conteudo{
        display: block;
        margin-left: 10px;
    }
   
}